<div class="media">
    <div class="media-body my-5">
      <p>Here are 10 things to know about Sweden:<br>

        1. On Dec. 2, 1766, Sweden became the first country in the world to have freedom of the press written into its Constitution. The Swedish Freedom of the Press Act also established the principle of providing public access to information, which made it legal to publish and read public documents.<br>
        
        2. Swedes are considered some of the world's most generous people, donating more than 1% of gross national income to humanitarian aid programs each year.<br>
        
        3. College education is free in Sweden, and health care is largely taxpayer-funded.<br>
        
        4. The average woman in Sweden lives 84 years, while men average living to 81.<br>
        
        5. Among the most famous inventions to come from Sweden are the astronomical lens, the pacemaker, the marine propeller, refrigerator and the computer mouse.<br>
        
        6. The late Swedish scientist and industrialist Alfred Nobel established the annual Nobel prizes in his will in 1895. The first prizes in chemistry, literature, peace, physics and physiology or medicine were awarded in 1901. An annual prize for economics was first awarded in 1969.<br>
        
        7. The Swedish passport is one of the world's most powerful, offering access to 186 countries, the fourth-highest amount, according to the Henley Passport Index.<br>
        
        8. On July 1, 1979, Sweden became the first country to explicitly ban corporal punishment of children.<br>
        
        9. Sweden grants up to 480 days of paid parental leave, based on income.<br>
        
        10. More than half of the energy used in Sweden comes from renewable sources.</p>
    </div>
    <img class="my-5 ml-4 mr-0" src="assets/flag.jpg" style="width: 50%" alt="Generic placeholder image"><br>
  </div>
  
