<div fxLayout="row">
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
    <div fxFlex="90" fxFlex.gt-sm="80">
      <div id="articles-list" *ngIf="articles$ | async as articles; else loading">
        <ng-container *ngFor="let article of articles">
          <app-article-card [article]="article"></app-article-card>
        </ng-container>
      </div>
      <ng-template #loading>
        <app-article-loading></app-article-loading>
      </ng-template>
    </div>
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
  </div>
  
